/ {
    
    gpio-pins {
        compatible = "gpio-keys";
        dir: pc10 {
            gpios = <&gpioc 10 GPIO_ACTIVE_HIGH>;
        };
        step: pc11 {
            gpios = <&gpioc 11 GPIO_ACTIVE_HIGH>;
        };
    };

};

usart: &usart3 {
	status = "okay";
	pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb11 >;
	pinctrl-names = "default";
	current-speed = <9600>;
};

