/ {
    gpio-pins {
        compatible = "gpio-keys";
        dir_ver: pc10 {
            gpios = <&gpioc 10 (GPIO_ACTIVE_HIGH )>;
        };
        step_ver: pc11 {
            gpios = <&gpioc 11 (GPIO_ACTIVE_HIGH )>;
        };
        dir_hor: pb6 {
            gpios = <&gpiob 6 (GPIO_ACTIVE_HIGH )>;
        };
        step_hor: pb7 {
            gpios = <&gpiob 7 (GPIO_ACTIVE_HIGH )>;
        };
    };
    
    limit-switches {
        compatible = "gpio-keys";
        limit_sw_hor0: pa2 {
            gpios = <&gpioc 7 (GPIO_ACTIVE_LOW | GPIO_PULL_DOWN)>;
        };
        limit_sw_ver0: pa3 {
            gpios = <&gpioe 2 (GPIO_ACTIVE_LOW | GPIO_PULL_DOWN)>;
        };
    };
};

usart: &usart1 {
	status = "okay";
	pinctrl-0 = <&usart1_rx_pa10 &usart1_tx_pa9 >;
	pinctrl-names = "default";
	current-speed = <9600>;
};
