/ {
    
    interrupts {
        compatible = "gpio-keys";
        itr_button: pd0 {
			gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
		};
        itr_led: pb7 {
			gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>;
		};
    };


    stepper {
        compatible = "gpio-keys";
        clk: pd2 {
            gpios = <&gpiod 2 GPIO_ACTIVE_HIGH>;
        };
        dt: pd4 {
            gpios = <&gpiod 4 GPIO_ACTIVE_HIGH>;
        };
        sw: pd6 {
            gpios = <&gpiod 6 GPIO_ACTIVE_HIGH>;
        };
    };

    
};

&timers9 {
    status = "okay";
    st,prescaler = <40000>;
    led_pwm: pwm {
        status = "okay";
        pinctrl-0 = <&tim9_ch1_pe5>;
        pinctrl-names = "default";
    };
};

poti: &adc1 {
    status = "okay";
    pinctrl-0 = <&adc1_in9_pb1>;
    pinctrl-names = "default";
};



