/ {
 
    gpio-pins {
        compatible = "gpio-keys";
        dir: pc10 {
            gpios = <&gpiod 9 GPIO_ACTIVE_HIGH>;
        };
        step: pc11 {
            gpios = <&gpiod 11 GPIO_ACTIVE_HIGH>;
        };
        enable: pe5 {
            gpios = <&gpiod 13 GPIO_ACTIVE_LOW>;
        }; 

        dir2: pb6 {
            gpios = <&gpioc 1 GPIO_ACTIVE_HIGH>;
        };
        step2: pb7 {
            gpios = <&gpioc 3 GPIO_ACTIVE_HIGH>;
        }; 
        enable2: pb9 {
            gpios = <&gpioa 1 GPIO_ACTIVE_LOW>;
        }; 
    };

};

&timers4 {
    status = "okay";
    st,prescaler = <30000>;
    pwm1: pwm {
        status = "okay";
        pinctrl-0 = <&tim4_ch1_pd12>;
        pinctrl-names = "default";
    };
};
